__pycache__/
**/pk_cpp/

# C++ artifacts
*.o
*.out

results/

oss/

.vscode/

wrappers.yalla.cpp
wrappers.yalla.h

boost/chat_server/chat_message.yalla.hpp
boost/chat_server/chat_server.yalla.cpp
opencv/3calibration/3calibration.yalla.cpp
opencv/drawing/drawing.yalla.cpp
opencv/laplace/laplace.yalla.cpp
rapidjson/archiver/archiver.yalla.cpp
rapidjson/archiver/archiver.yalla.h
rapidjson/capitalize/capitalize.yalla.cpp
rapidjson/capitalize/capitalize.yalla.h
rapidjson/condense/condense.yalla.cpp

clang+llvm-15.0.6-x86_64-linux-gnu-ubuntu-18.04/

yalla-build/
yalla-install/
pykokkos/
kokkos-tools/
pykokkos-base/
llvm-project-yalla/